// Body
$body-bg: #0f171e;

#imgCardStreaming{
    margin-left:11rem; 
    margin-right:-9rem; 
    z-index:10;
    background-color:transparent;
    width: 200px; 
    height:300px; 
    border-color:transparent;
    border-radius: 30px;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.5rem;
$line-height-base: 1.6;
